---
layout: default
---

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- serialphotog.github.io -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3119050370209160"
     data-ad-slot="4500987021"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- serialphotog.github.io -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3119050370209160"
     data-ad-slot="4500987021"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
